<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VRP | Solver</title>
  <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>-- Vehicle Routing Problem --</h1>
  </header>

  <div id="terminateButtonContainer">
    <button onclick="terminateServer()"><b>&#10006</b></button>
  </div>

  <div class="container">
    <label for="graphPointsCount">
      Number of nodes:
      <input type="text" name="size" id="graphPointsCount" oninput="loadTable(parseInt(this.value))">
    </label>

    <div id="randomizeButtonContainer">
      <button type="submit" onclick="fillRandomWeights()">Randomize</button>
    </div>

    <div id="clearAllButtonContainer">
      <button type="submit" onclick="clearAll()">Clear</button>
    </div>
  </div>

  <div id="graphTableContainer">
    <table id="graphTable">
    </table>
  </div>

  <div class="algorithmSelectContainer" style="margin: 30px 0 20px 0; text-align: center">
    <label for="algorithmSelect">Select algorithm</label>
    <br>
    <select name="algorithmSelect" id="algorithmSelect">
      <option value="bellman">Bellman–Held–Karp algorithm (MAX: 19 vertexes)</option>
      <option value="brute-force">Brute force algorithm (MAX: 11 vertexes)</option>
      <option value="simulated-annealing">Simulated Annealing algorithm (MAX: undefined)</option>
    </select>
  </div>

  <div id="submitButtonContainer"></div>

  <div id="answerContainer"></div>

  <div id="imageContainer" style="max-width: 100%"></div>
</body>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>

</html>